@model IEnumerable<MovieApp.Models.Movie>

@{
    Layout = "_Layout";
}

@section Style
{
    <style>
        .link:hover{
            font-weight:bold;
        }
    </style>
}


<div class="container">
    <div class="d-flex align-items-center">
        <h1 class="mb-4">Movie catalog</h1>
        <a class="btn btn-primary ml-auto" asp-area="" asp-controller="Movies" asp-action="CreateForm">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add new movie
        </a>
    </div>


    <div class="row">

        @foreach (var movie in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20226%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17240aeae05%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17240aeae05%22%3E%3Crect%20width%3D%22508%22%20height%3D%22226%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.7578125%22%20y%3D%22124.2828125%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <div class="card-body">


                        <span class="d-flex align-items-center">
                            <svg width="18" height="18" style="color: rgb(245,197,24)" class="" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
                            <span class="ml-2">7.3</span>
                        </span>


                        <p class="card-text">
                            <a class="text-dark text-decoration-none link" asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                                @movie.Name
                            </a>
                        </p>
                        <button type="button" class="btn btn-outline-secondary btn-block">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>


@section Scripts
{
    <script>
        $(document).ready(function() {
            $.ajax({
              method: "GET",
              url: "http://localhost:5000/api/movies"
            })
              .done(function( data ) {
                console.log(data);
              });
        })
    </script>
}
