@{
    ViewData["Title"] = "About page";
}
<h1>@ViewData["Title"]</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem error illo ipsam laudantium maxime pariatur porro, tenetur unde vel! Atque doloremque earum et omnis, provident quae qui temporibus voluptates.</span><span>Accusantium alias amet animi aperiam aspernatur assumenda atque cum ducimus error et id, ipsum itaque iure laboriosam nihil obcaecati odit perspiciatis possimus quaerat quam quas similique ullam vel veritatis voluptatibus!</span><span>Aperiam delectus dicta enim exercitationem explicabo iusto odit porro quos tenetur veritatis? Accusantium aliquid dignissimos distinctio doloremque dolores error esse id neque non nostrum, officiis omnis perferendis praesentium rerum suscipit.</span></p>
